.mat-checkbox-frame {
  border-color: #000000;
}

.mat-checkbox-disabled .mat-checkbox-label {
  color: #000000;
}

#label-and-icon-container {
  align-items: center;
  display: flex;

  mat-label:first-child {
    margin-right: 5px;
  }
}