<ng-container>
    <div *ngIf="!makingChanges; else fieldSettings">
        <div class="label-and-icon-container">
            <mat-label [ngClass]="{'required': isRequired}">{{ title }}</mat-label>
            <mat-icon (click)="showFieldSettings()">settings</mat-icon>
            <mat-icon (click)="emitComponentRefAction('delete')">delete</mat-icon>
            <mat-icon (click)="emitComponentRefAction('move_down')">arrow_downward</mat-icon>
            <mat-icon (click)="emitComponentRefAction('move_up')">arrow_upward</mat-icon>
        </div>
        <mat-radio-group class="radio-group" disabled="true">
            <mat-radio-button *ngFor="let option of fieldSettingsForm.controls.options.controls" id="checkbox-container" [value]="option.value">
                {{ option.value}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <ng-template #fieldSettings>
        <div class="field-settings-container">
            <form [formGroup]="fieldSettingsForm" style="width: 100%;">
                <div>
                    <mat-form-field color="primary">
                        <mat-label>Title</mat-label>
                        <input formControlName="title" matInput type="text">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label style="margin-right: 5px;">Required</mat-label>
                    <mat-checkbox [checked]="isRequired" formControlName="isRequired"></mat-checkbox>
                </div>
                <div>
                    <h4>Choices:</h4>
                    <div *ngFor="let option of fieldSettingsForm.controls.options.controls; let indx = index">
                        <ng-container formArrayName="options">
                            <mat-radio-button disabled="true">
                                <div class="field-options">
                                    <input #fieldOptions [id]="option.value + indx" [formControlName]="indx" matInput type="text" [value]="option.value">
                                    <mat-icon (click)="removeOption(indx)" class="show-on-hover" color="warn">remove</mat-icon>
                                </div>
                            </mat-radio-button>
                        </ng-container>
                    </div>
                    <div (click)="addOptions()">
                        <mat-icon style="color: #5cb85c">add</mat-icon>
                        Add Option
                    </div>
                </div>
                <div class="action-btn-container">
                    <button (click)="hideFieldSettings()" mat-raised-button type="button">Cancel</button>
                    <button (click)="saveFieldSettings()" color="primary" mat-raised-button type="button">Okay</button>
                </div>
            </form>
        </div>
    </ng-template>
</ng-container>