<ng-container>
    <div *ngIf="!makingChanges; else textAreaFieldSettings" class="field-container">
        <div class="form-field-and-label">
            <span> {{ componentPosition + 1. }} </span>
            <mat-form-field color="primary" [floatLabel]="'never'">
                <mat-label [ngClass]="{'required': isRequired}">{{ title }}</mat-label>
                <textarea 
                    matInput
                    readonly="true"
                    rows="1"
                    type="text"></textarea>
            </mat-form-field>
        </div>
        <div class="field-action-btn-container">
            <app-form-field-actions (componentAction)="triggerComponentAction($event.action, $event.direction)"></app-form-field-actions>
        </div>
    </div>

    <ng-template #textAreaFieldSettings>
        <div class="field-settings-container">
            <form [formGroup]="fieldSettingsForm" style="width: 100%;">
                <div>
                    <mat-form-field color="primary">
                        <mat-label>Title</mat-label>
                        <input formControlName="title" matInput type="text">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field color="primary">
                        <mat-label>Position</mat-label>
                        <input formControlName="position" matInput type="number">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label style="margin-right: 5px;">Required</mat-label>
                    <mat-checkbox [checked]="isRequired" formControlName="isRequired"></mat-checkbox>
                </div>
                <div class="action-btn-container">
                    <button (click)="hideFieldSettings()" mat-raised-button type="button">Cancel</button>
                    <button (click)="saveFieldSettings()" color="primary" mat-raised-button type="button">Okay</button>
                </div>
            </form>
        </div>
    </ng-template>
</ng-container>