#input-field-settings-container {
    background: #e7e6e6;
    box-shadow: #e6e6e6 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 10px;
    padding: 16px;
    width: 360px;
}

.mat-form-field-underline {
    background-color: rgba(132, 132, 132, 0.5) !important;
    height: 0.5px !important;
}