<ng-container #inputFieldContainer>
    <div *ngIf="!makingChanges; else inputFieldSettings">
        <mat-form-field color="primary" [floatLabel]="'never'">
            <mat-label [ngClass]="{'required': isRequired}">{{ title }}</mat-label>
            <input matInput readonly="true" type="text">
        </mat-form-field>
        <mat-icon (click)="showFieldSettings()">settings</mat-icon>
        <mat-icon (click)="emitComponentRefAction('delete')">delete</mat-icon>
        <mat-icon (click)="emitComponentRefAction('move', 'down')">arrow_downward</mat-icon>
        <mat-icon (click)="emitComponentRefAction('move', 'up')">arrow_upward</mat-icon>
    </div>

    <ng-template #inputFieldSettings>
        <div class="field-settings-container">
            <form [formGroup]="fieldSettingsForm" style="width: 100%;">
                <div>
                    <mat-form-field color="primary">
                        <mat-label>Title</mat-label>
                        <input formControlName="title" matInput type="text">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label style="margin-right: 5px;">Required</mat-label>
                    <mat-checkbox [checked]="isRequired" formControlName="isRequired"></mat-checkbox>
                </div>
                <div class="action-btn-container">
                    <button (click)="hideFieldSettings()" mat-raised-button type="button">Cancel</button>
                    <button (click)="saveFieldSettings()" color="primary" mat-raised-button type="button">Okay</button>
                </div>
            </form>
        </div>
    </ng-template>
</ng-container>