<div class="field-settings-container">
    <form [formGroup]="fieldSettingsForm" style="width: 100%;">
        <div>
            <mat-form-field color="primary">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput type="text">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field color="primary">
                <mat-label>Position</mat-label>
                <input formControlName="position" matInput type="number">
            </mat-form-field>
        </div>
        <div>
            <mat-label style="margin-right: 5px;">Required</mat-label>
            <mat-checkbox [checked]="isRequired" color="primary" formControlName="isRequired"></mat-checkbox>
        </div>
        <ng-content></ng-content>
        <div>
            <mat-label style="margin-right: 5px;">Always show this field</mat-label>
            <mat-checkbox (change)="showFieldVisibilitySettings($event.checked)" [checked]="fieldIsVisible" color="primary" formControlName="fieldVisible"></mat-checkbox>
            <ng-container *ngIf="!fieldIsVisible">
                <h4>Visible if</h4>
                <div id="field-visibility-settings-form">
                    <mat-form-field class="form-field-select">
                        <mat-label>Select question</mat-label>
                        <mat-select (selectionChange)="setFormFieldTriggerForFieldVisibility($event.value)" class="custom-dropdown" [(value)]="currentlySelectedField">
                            <mat-option *ngFor="let field of formFieldVisibilityTriggers" [value]="field">
                                {{ field.instance.title }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <span *ngIf="currentlySelectedOption">is equal to the ff:</span>
                        <div *ngFor="let option of selectedFormFieldForFieldVisibility?.instance?.currentFieldOptionsValue">
                            <mat-checkbox color="primary">
                                {{ option }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="action-btn-container">
            <button (click)="hideFieldSettings()" mat-raised-button type="button">Cancel</button>
            <button (click)="saveFieldSettings()" color="primary" mat-raised-button type="button">Okay</button>
        </div>
    </form>
</div>