<ng-container #inputFieldContainer>
    <div *ngIf="!makingChanges; else inputFieldSettings" class="field-container">
        <div class="form-field-and-label">
            <span> {{ componentPosition + 1 }} . </span>
            <mat-form-field color="primary" [floatLabel]="'never'">
                <mat-label [ngClass]="{'required': isRequired}">{{ title }}</mat-label>
                <input matInput readonly="true" type="text">
            </mat-form-field>
        </div>
        <div class="field-action-btn-container">
            <app-form-field-actions (componentAction)="triggerComponentAction($event.action, $event.direction)"></app-form-field-actions>
        </div>
    </div>

    <ng-template #inputFieldSettings>
        <app-field-settings-form [formFieldVisibilityTriggers]="availableFormFieldsWithChoices" [pageData]="fieldSettingsData" (fieldSettingsUpdatedData)="setUpdatedFieldSettingsData($event)"
            (showFieldVisibilityForm)="emitFieldVisibilityFormValues($event)" (makingChanges)="getMakingChangesState($event)"></app-field-settings-form>
    </ng-template>
</ng-container>