/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.action-btn-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button:first-child {
        margin-right: 5px;
    }
}

.check-icon {
    color: green;
}

.disable-clicks {
    pointer-events: none;
}

.required:after {
    content: " *";
    color: red;
}

mat-label {
    color: #000000;
}

.form-field-select {
    // width: 150px;

    .mat-form-field-underline {
        display: none !important;
    }
}

#field-visibility-settings-form {

    .mat-form-field-label-wrapper {
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        text-align: center;
        top: 0;
    }
}

.custom-dropdown {
    border: 1px solid #C2185B;
    border-radius: 4px;
    height: 30px;

    .mat-select-trigger .mat-select-arrow-wrapper {
        background: #c2185b;
        height: 30px;
    }

    .mat-select-value {
        color: #000000;
        font-weight: 100;
        text-align: center;
        vertical-align: middle;
    }
}

.mat-form-field-underline {
    background-color: rgba(132, 132, 132, 0.5) !important;
    height: 0.5px !important;
}

.field-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    margin-left: 25%;
    margin-bottom: 10px;
    padding: 16px;

    .field-options-container {
        margin-left: 15px;
    }

    .mat-form-field-label-wrapper {
        font-weight: 100;
    }
}

.field-settings-container {
    background: #f5f5f5;
    box-shadow: rgba(194, 24, 91, 0.5) 0px 1px 10px; 
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 15px;
    margin-left: 25%;
    padding: 16px;
}

.form-field-and-label {
    font-weight: 100;
    line-height: 2rem;
    width: 75%;
}

.field-action-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.field-options {
    margin-right: 5px;
}

mat-icon {
    color: #848484;
    vertical-align: middle;
}

mat-icon.show-on-hover {
    visibility: hidden;
}

.field-options:hover .show-on-hover {
    visibility: visible;
}

.mat-checkbox-frame {
    border-color: #000000;
}

.mat-checkbox-checkmark-path {
    stroke: #ffffff !important;
}

.mat-checkbox-disabled .mat-checkbox-label {
    color: #000000;
}

.mat-radio-button {
    margin-bottom: 2px;
}

.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle,
.mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle {
    border-color: #000000;
}

.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    color: #000000;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.mat-radio-outer-circle {
    border-color: #000000;
    border-width: 1px !important;
}

.mat-menu-panel {
    background: #f4f4f4 !important;

    .mat-menu-item {
        color: #000000 !important;
    }
    
}

.mat-menu-content {
    align-items: center;
    margin-left: 10px;

    mat-icon {
        margin-right: 5px;
    }
}