/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.action-btn-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button:first-child {
        margin-right: 5px;
    }
}

.required:after {
    content: " *";
    color: red;
}

mat-label {
    color: #000000;
}

.mat-form-field-underline {
    background-color: #000000 !important;
}

.field-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    padding: 16px;

    .field-options-container {
        margin-left: 15px;
    }
}

.field-settings-container {
    background: #f5f5f5;
    box-shadow: #e6e6e6 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 15px;
    padding: 16px;
    width: 360px;
}

.form-field-and-label {
    line-height: 2rem;
    width: 75%;
}

.field-action-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.field-options {
    margin-right: 5px;
}

mat-icon {
    color: #424242;
    vertical-align: middle;
}

mat-icon.show-on-hover {
    visibility: hidden;
}

.field-options:hover .show-on-hover {
    visibility: visible;
}

.mat-checkbox-frame {
    border-color: #000000;
}

.mat-checkbox-disabled .mat-checkbox-label {
    color: #000000;
}

.mat-radio-button {
    margin-bottom: 2px;
}

.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle,
.mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle {
    border-color: #000000;
}

.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    color: #000000;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.mat-radio-outer-circle {
    border-color: #000000
}