/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.action-btn-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button:first-child {
        margin-right: 5px;
    }
}

.required:after {
    content: " *";
    color: red;
}

mat-label {
    color: #000000;
}

.mat-form-field-underline {
    background-color: #000000 !important;
}

.field-settings-container {
    background: #e7e6e6;
    box-shadow: #e6e6e6 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 15px;
    padding: 16px;
    width: 360px;
}

.field-options {
    margin-right: 5px;
}
mat-icon {
    vertical-align: middle;
}
mat-icon.show-on-hover {
    visibility: hidden;
}
.field-options:hover .show-on-hover  {
    visibility: visible;
}