#main-container {
    display: flex;
    min-height: 100vh;

    .inactive-toolbox {
        height: 100%;
        background: rgba(7, 7, 7, 0.5);
        position: absolute;
        width: calc(20% + 32px);
        z-index: 2;
    }

    #form-container {
        background: #e6e6e6;
        min-height: 100vh;
        padding: 16px;
        width: 100%;

        .form-options-container {
            align-items: center;
            display: flex;
            height: 50px;
            margin-bottom: 10px;
        }

        #form-name {
            align-items: center;
            display: flex;
            height: 100%;
            width: 25%;

            input {
                background: none;
                border: none;
                color: #C2185B;
                font-size: 18px;
            }

        }

        #form-actions {
            display: flex;
            justify-content: flex-end;
            width: 75%;

            .loader-container {
                align-items: center;
                display: flex;

                span {
                    margin: 0 10px;
                }
            }

            #form-builder-header-container {
                align-items: center;
                display: flex;
                justify-content: flex-end;
                width: 100%;

                span {
                    margin-right: 15px;
                }
            }
        }

        .form-container-items {
            margin-left: 25%;
        }
    }

    #form-builder-container {
        background: #f4f4f4;
        height: 100vh;
        padding: 16px;
        position: fixed;
        width: 20%;

        #form-field-options {
            align-items: center;
            border-bottom: 0.5px solid rgba(132, 132, 132, 0.5);
            display: flex;
            height: 2rem;
            margin-bottom: 5px;

            #form-field-options-icon {
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }

    #form-preview-container {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20%;
        justify-content: center;
        width: 80%;

        #form-name-and-edit-btn-container {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;

            mat-icon {
                margin-left: 5px;
            }
        }

        #form-preview {
            width: 50%
        }
    }
}