<div id="main-container">
    <div id="form-builder-container">
        <h2>Toolbox</h2>
        <hr>
        <div *ngFor="let choice of formBuilderChoices" (click)="addField(choice.component)" id="form-field-options">
            <mat-icon id="form-field-options-icon">{{ choice.icon }}</mat-icon>
            {{ choice.type }}
        </div>
    </div>
    <div id="form-container">
        <div *ngIf="noSelectionMade; else formQuestionnaire" class="form-container-items">
            <h2>You have not yet selected any fields!</h2>
            <p>Select from the options from the toolbox on your left to get started.</p>
        </div>

        <ng-template #formQuestionnaire>
            <div class="form-options-container form-container-items">
                <div id="form-name">
                    <mat-icon [matMenuTriggerFor]="menu">description</mat-icon>
                    <mat-menu #menu="matMenu">
                        <div (click)="createNewForm()">
                            <mat-icon>create_new_folder</mat-icon>New
                        </div>
                    </mat-menu>
                    <input [formControl]="formTitleControl" matInput type="text" [value]="formTitleControl.value">
                </div>
                <div id="form-actions">
                    <ng-container *ngIf="changesWereMade; else saveFinished">
                        <div class="loader-container">
                            <mat-spinner [diameter]="25"></mat-spinner>
                            <span>Saving changes...</span>
                        </div>
                    </ng-container>
                    <ng-template #saveFinished>
                        <div id="form-builder-header-container">
                            <mat-icon class="check-icon">check</mat-icon>
                            <span>Changes were save in your browser's storage</span>
                            <button (click)="generateForm()" color="primary" mat-raised-button>Generate Form</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </div>
</div>