<ng-container>
    <div *ngIf="!makingChanges; else fieldSettings" class="field-container">
        <div class="form-field-and-label">
            <span> {{ componentPosition + 1 }} . </span>
            <mat-label [ngClass]="{'required': isRequired}">{{ title }}</mat-label>
            <div class="field-options-container">
                <div *ngFor="let option of fieldSettingsForm.controls.options.controls" id="checkbox-container">
                    <mat-checkbox [disabled]="true">
                        {{ option.value}}
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="field-action-btn-container">
            <app-form-field-actions (componentAction)="triggerComponentAction($event.action, $event.direction)"></app-form-field-actions>
        </div>
    </div>

    <ng-template #fieldSettings>
        <app-field-settings-form #fieldSettings [formFieldVisibilityTriggers]="availableFormFieldsWithChoices" [pageData]="fieldSettingsData"
            (fieldSettingsUpdatedData)="setUpdatedFieldSettingsData($event)" (showFieldVisibilityForm)="emitFieldVisibilityFormValues($event)"
            (makingChanges)="hideFieldSettings()">
            <form [formGroup]="fieldSettingsForm">
                <div>
                    <h4>Choices:</h4>
                    <div *ngFor="let option of fieldSettingsForm.controls.options.controls; let indx = index">
                        <ng-container formArrayName="options">
                            <mat-checkbox disabled="true">
                                <div class="field-options">
                                    <input #fieldOptions [id]="option.value + indx" [formControlName]="indx" matInput type="text" [value]="option.value">
                                    <mat-icon (click)="removeOption(indx)" class="show-on-hover" color="warn">remove</mat-icon>
                                </div>
                            </mat-checkbox>
                        </ng-container>
                    </div>
                    <div (click)="addOptions()">
                        <mat-icon style="color: #5cb85c">add</mat-icon>
                        Add Option
                    </div>
                </div>
            </form>
        </app-field-settings-form>
    </ng-template>
</ng-container>